@font-face {
    font-family: "microsoft";
    src: url(../fonts/segoeui/SegoeUI-Light.woff);
  }
  @font-face {
    font-family: "krub";
    src: url(../fonts/krub/Krub-Regular.ttf);
  }
  
*{
box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
html,body{
    padding: 0;
    margin: 0;
    background: #f5f5f5;
    font-family: 'krub',Arial, Helvetica, sans-serif
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  .sticky + main {
    padding-top: 100px;
  }
.banderol{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    background: #fff;
    /* border-bottom: 1px solid #ccc; */
}
.banderol nav{
    display: flex;
    justify-content: right;
}
.banderol nav a{
    font-size: 12px;
    color: #777;
    display: flex;
    align-items: center;
    padding: 0 10px;
    /* border-right: 1px solid #ccc; */
}
.pin::after{
    content: '\1f893';
    color: #555;
    margin-top: 10px;
}

.navbar {
    /* height: 30px; */
    /* background-image: linear-gradient(to right, coral, crimson);  */
    background: #292d3e;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.navbar .brand{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.navbar .brand a{
    display: flex;
    align-items: center;
    color: #000;
    padding: 15px 10px;
}
.navbar .bulle{
    background: coral;
    color: #fff;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 50%;
    float: right;
    margin-top: -23px;
    margin-left: 2px;
}
.navbar .brand .logo{
    padding: 5px 10px;
    border-radius: 5px;
    background: crimson;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enova{
    background: #000;
    color: #fff;
    padding: 1px 0px;
    padding-left: 2px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
}
.navbar nav{
    display: flex;
}
.navbar nav a{
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #fff;
}
.navbar .nav{
display: flex;
align-items: center;
}
.navbar .nav .nav-item{
    color: #fff;
    margin: 5px 10px;
    cursor: pointer;
}
.navbar .nav .nav-item:hover{
    color: red;
}
.search{
    width: 55%;
    display: flex;   
    align-items: center;
    justify-content: flex-start;

}
.search input{
    border-radius: 3px 0 0 3px;
    border: 0;
    outline: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-right: 0;
    width: 80%;
}
.search a{
    border-radius: 0 3px 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: crimson;
    border: 1px solid transparent;
    padding: 6px 20px;
    cursor: pointer;
}

main{
    display: flex;

}



main .sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
}

main .sidebar .group-title{
    margin: 10px 10px;
    font-size: 14px
}
main .sidebar nav{
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
}
main .sidebar nav a{
    color: #555;
    font-size: 13px;
}
main .sidebar nav a:hover{
    color: crimson;
}
main .content{
    width: 80%;
}

main .content .products{
    width: 100%;
    display: flex;   
    flex-wrap: wrap;
}
main .content .products > div{
    width: calc(25% - 10px);
    margin: 5px;
    background: #fff
}
.product img {
    width: 100%;
}
.product img {
    width: 100%;
}
.product .product-title {
    padding:0 5px;
    width: 100%;
    color: #292d3e;   
}
.product .product-title:hover{
    color: coral;   
    text-decoration: underline
}
.product .product-price {
    width: 100%;
    color: crimson;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 5px;
}

/* details products */
main .content .product-detail{
    width: 100%;
    display: flex;   
    flex-wrap: wrap;
    background: #fff;
    padding: 20px 0;
}
main .content .product-detail > div{
    width: calc(50% - 11px);
    margin: 5px;
    background: #fff
}
.details-img{
    display: flex;
    border-right: 1px solid #eee;
}
.details-img-list{
    padding: 2px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details-img-list img{
    background: #fff;
    border: 1px solid #eee;
    width: 46px;
    height: 46px;
    margin: 5px 0;
}
.details-img-crop {
    width: calc(100% - 60px);
    background: #ffffff;
}
.details-img-crop img {
    width: 100%;
}
.details-title{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    padding-left: 10px;
}
.color-box{
    display: flex;

}
.color-box .item{
    width: 30px;
    height: 30px;
    border: 1px solid #BBB;
    margin: 2px 5px;
    cursor: pointer;
}
.details-desc table tr td{
    padding: 10px 0;
    padding-left: 10px;
}

.details-desc table{
    padding: 20px 0;
    width: 100%;
    border-collapse: collapse;
}
.numeric_updown{
    max-width: 100px;
 height: 30px;
 display: flex;
 border: 1px solid #bbb;
 background: #fff;
 align-items: center;
 justify-content: space-between;
 padding: 0px;
}
.numeric_updown button, .numeric_updown input{
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 15px;
    background: none;
}
.numeric_updown input{
    width: 45px;
}
.numeric_updown .num_down{
    font-weight: bold;
    color: #555;
    cursor: pointer;
}
.numeric_updown .num_up{
    font-weight: bold;
    cursor: pointer;
}

.details-action {
    display: flex;
    margin-top: 50px;
}
.details-action button {
    margin-right: 10px;
    color: #fff;
}
.btn{
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0.15em;
    transition: all .3s;
}

@media screen and (max-width: 992px) {
    main .content .products > div{
        width: calc(50% - 10px);
        margin: 5px;
        background: #fff
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {

    main{
        flex-direction: column;
    }
    main .sidebar{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    main .content{
        width: 100%;
    }

    main .content .products > div{
        width: calc(100% - 10px);
        margin: 5px;
        background: #fff
    }
    main .content .product-detail > div{
        width: calc(100% - 11px);
        margin: 5px;
        background: #fff
    }
  }