.is-gray{
    background: #555;
}
.is-green{
    background: green;
}
.is-yellow{
    background: yellow;
}
.is-red{
    background: crimson;
}
.is-black{
    background: black;
}
.is-orange{
    background: coral;
}
.is-white{
    background: #fff;
}