body{
    background-color: rebeccapurple;

    overflow-y: auto;
}

.group{
    display: flex;
    width: 100%;
}
select, input{
    outline: none;
    padding: 10px 10px;
}
input{
    flex: 1;
}
select:focus, input:focus{
    border: 1px solid rgb(33, 7, 185);
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shadow{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

#title{
    color: rgba(255, 255, 255, 0.8);
}

.grid{
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    gap: 5;
}

.grid span{
    border: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    text-align: center;
}

#alpha{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-x: auto;
}

@media screen and (max-width: 992px) {
    .container {
        width: 60%;
    }
}

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}